// .backgroundImg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


// Placeholder (không biên dịch class extend, 
//     chỉ biên dịch class chứa extend) 
%backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}